@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e60lyd');
  src:  url('fonts/icomoon.eot?e60lyd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e60lyd') format('truetype'),
    url('fonts/icomoon.woff?e60lyd') format('woff'),
    url('fonts/icomoon.svg?e60lyd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-whatsapp:before {
  content: "\ea93";
}
